.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0; 
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 5;
}
.overflow{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(129, 125, 125, 0.116) ;
}

.closeActive_first{
    color: white;
    margin-left: 95%;
    text-decoration: none;
    background-color: firebrick;
    padding: 5px 10px;
    border-radius: 7px;
}

.modal_content{
    position: relative;
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(44, 39, 37);
    height: 200px;
    width: 400px;
}

.modal__title_first{
    text-align: center;
    color: white;
}

.modal__text_first{
    text-align: center;
    color: white;
}

.btn__position{
    display: flex;
    justify-content: center;
}

.super_first{
    margin-top: 15px;
    margin-right: 15px;
    background-color: firebrick;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
}
.bad_first{
    margin-top: 15px;
    background-color: firebrick;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
}