.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.4) ;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeActive{
    color: black;
    margin-left: 95%;
    text-decoration: none;
}

.modal__content_second{
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    height: 200px;
    width: 400px;
}

.modal__title_second{
    text-align: center;
}

.modal__text_second{
    text-align: center;
}

.btn__position{
    display: flex;
    justify-content: center;
}

