
.form{
    position: absolute;
    top: 65px;
    right: 45px;
    min-height: 150px;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 25px;
}
.input{
    margin: 15px 10px;
}
.sumbmin{
    margin: 15px 10px;
    border-radius: 25px;
    width: 85px;
    height: 25px;
}
.label{
    font-family: monospace;
    font-size: 20px;
    margin-left: 15px;
}
.error{
    font-family: monospace;
    font-size: 12px;
    margin-top: -25px;
    margin-left: 15px;
}